{% extends 'website/layout.html' %}
{% block title %}Categorires-SBT Professionals{% endblock %}

{% block css %}
<style>
  .container-top{
  margin-top:150px;
  width:70%;
  
  padding: 100px;
  }
 .list-group-item.active {
    z-index: 2;
      background-color: hsl(14, 100%, 53%);
      border-color: blanchedalmond;
      font-size: 20px;

  }
   .list-group-item.active:hover {
         background-color: white;
         color:black;

  }
  .list-group-item {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border-color: blanchedalmond;
  }
  .list-group-item:hover{
  color:black;
  } 
  @media screen and (max-width:600px){
    
    .container-top{
      margin-top:80px;
     text-align: left;    
      width: 1%;}
      .list-group-item {
        position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border-color: blanchedalmond;
      width: 150px;
      margin-right: 5%;


      }
  }
  
  </style>
  {% endblock %}
  {% block body %}
  {% load static %}
  {% for category in filtered_categories %}
  <div class="container-top">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      {{ category.category_name }}
    </a>
    {% if sub_category %}
    {% for i in sub_category|slice:"0:"  %}
        <a href="/website/subcategories/{{ i.sub_category_name }}" class="list-group-item list-group-item-action">{{ i.sub_category_name }} </a>
    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
    
      <a href="/website/subcategories/{{ i.sub_sub_category_name }}"></a>              
    {% endif %}
    {% endfor %}

    {% else %}
    <p style="text-align: center;margin-top:20px ;"><em>No entries for {{ category.category_name }}</em></p>
    {% endif %} 
</div>
</div>

{% endfor %}
{% endblock %}