{% extends 'website/layout.html' %} {% block title %}Contact-SBT Professionals{% endblock %} {% block css %}
<style>
    .form-contact {
        margin: 140px 0px 20px 380px;
        width: 500px;
    }
    
    @media screen and (max-width:600px) {
        .form-contact {
            margin: 180px 20px 20px;
            width: 270px;
        }
    }
</style>
{% endblock css %} {% block body %} {% load static %}

<form method="POST" action="{% url 'website:contactservice' slug %}">{% csrf_token %}
    <input type="hidden" name="contact_via_category_form" id="contact_via_category_form" value="form_for_contact_via_category">

    <div class="container form-contact">
        <h3>Share Your Details:</h3>
        <div class="form-group ">
            <label for="exampleFormControlInput1">Mobile no.</label>
            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="mobile no." required>
        </div>
        <div class="form-group ">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
        </div>
        <div class="col-sm-12 form-group">
            <label>I would like to recieve calls from experts!</label>

            <div class="row">
                <label class="radio-inline">
                <input type="radio" name="time" id="radio_experience" value="Any Time" required>
                Any Time
                </label>

                <label class="radio-inline">
                <input type="radio" name="time" id="radio_experience" value="3PM - 6PM" required >
                3PM - 6PM
                </label>

                <label class="radio-inline">
                <input type="radio" name="time" id="radio_experience" value="6PM - 9PM" required>
                6PM - 9PM
                </label>
            </div>
        </div>
        <div class="form-group">
            <p>By Submitting request you accepted our <a href="/website/TermsCondition" style="color: blue;">Terms and Conditions.</a></p>
        </div>
        <button type="submit">Submit</button>
</form>
</div>
{% endblock %}