{% extends 'website/layout.html' %}
{% block title %}Open Frenchise-SBT Professionals {% endblock %}

{% block css %}
<style>
  .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
  .container-top {
    margin-top: 135px;
    width:
  } 


</style>
{% endblock %}
{% block body %}
{% load static %}

<div class="container-top container">
  <div class="col my-5 mt-5">
    <h3><br>
      OPEN YOUR FRENCHISE</h3>
    <p>Enter your details below for contact:</p>
    <form action="/website/frenchise/" method="post">{% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">

          <div class="col-sm-12 form-group">


            <div class="col-sm-12 form-group mr-5">
              <label>What is Your Budget? Choose Your Investment Range and Area:</label>
              <label class="radio-inline ml-4">
                <input type="radio" name="Interest" id="radio_experience" value="Village ( ₹ 5,000 to  ₹ 10,000)"
                  required>
                Village ( ₹ 5,000 to ₹ 10,000)
              </label>

              <label class="radio-inline ml-4">
                <input type="radio" name="Interest" id="radio_experience" value="Tehsil ( ₹ 25,000 to  ₹ 50,000)"
                  required>
                Tehsil ( ₹ 25,000 to ₹ 50,000)
              </label>

              <label class="radio-inline ml-4">
                <input type="radio" name="Interest" id="radio_experience" value="District ( ₹ 1 Lakh to  ₹ 2 Lakh)"
                  required>
                District ( ₹ 1 Lakh to ₹ 2 Lakh)
              </label>
              <label class="radio-inline ml-4">
                <input type="radio" name="Interest" id="radio_experience" value="State ( ₹ 6 Lakh to  ₹ 10 Lakh)"
                  required>
                State ( ₹ 6 Lakh to ₹ 10 Lakh)
              </label>

            </div>
            </label>





          </div>
        </div>
      </div>
      <input type="hidden" name="itemsJson" id="itemsJson">
      <input type="hidden" name="amount" id="amount">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="firstname" name="name" required minlength="4" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
          <input type="email" class="form-control" name="email" id="email" required minlength="4" placeholder="Email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="mobilenumber" minlength="10" name="mobile" required
            placeholder="Mobile Number">
        </div>


        <div class="form-group col-md-6">
          <input type="text" class="form-control" name="address" id="address" required minlength="3"
            placeholder="Address">
        </div>

      </div>

     

      <button type="submit" class="search-btn mb-2">Submit</button>
    </form>
  </div>




    <button class="accordion">Q.1 What is Opening A  Franchise?</button>
    <div class="panel">
    <div class="card-body h-100">
      <blockquote class="blockquote mb-0">
        <p>Ans. Opportunities for entrepreneurship are varied and the sky’s the limit in terms of which business idea to
          pursue. But if you want to start a business that comes with an established brand and business model, a
          franchise might be a good fit.
          Franchises allow individuals to get their feet wet with the responsibilities that come along with owning a
          business. While it takes hard work, there are many success stories.</p>
        <p>In 2015 company 'SOMANSH BACKOPS TEAM OF PROFESSIONALS PRIVATE LIMITED' registered and started their Android
          Application 'SBT Professionals' After lockdown 2020</p>
        <footer class="blockquote-footer" > Managing Director <cite title="Source Title">Manisha Dhingra</cite></footer>
      </blockquote>
    </div>
  </div>

    <button class="accordion">
      Q.2 How to Start a Franchise?</button>
    <div class="panel">
    <div class="card-body h-100">
      <blockquote class="blockquote mb-0">
        <ul class="mb-2">
         <p> Ans. 1. Evaluate the costs
          <ul>
            <li class="mt-2 ml-4 "><p>a) Franchisee fee</li>
            <li class="mt-2 ml-4"><p>b)   Equipment & Supplies</li>
            <li class="mt-2 ml-4"><p>c)   Real Estate</li>
          </ul>
        </ul>
        <ul class="mb-2 mt-3">
         <p> 2. Franchisor requirements
          <ul>
            <li class="mt-2 ml-4 "><p>a) Net worth</li>
            <li class="mt-2 ml-4"><p>b) Industry experience</li>
            <li class="mt-2 ml-4"><p>c) Cash available</li>
            <li class="mt-2 ml-4 mb-2">d) Other sources of income</li>
          </ul>
        </ul class="mt-4"><p>3. Franchise disclosure document</ul>
        <ul class="mt-3"><p>4. Review the franchise agreement</ul>
        <ul class="mt-3"><p>5. Choose a Location</ul>
        <ul class="mt-3"><p>6. Training</ul>
        <ul class="mt-3"><p>7. Open for business</ul>
        <p class="mt-3"> Once your franchisor sends a representative to approve your location, it’s time to market your
          grand opening. Franchisors usually have pre-determined ads, signage, and promotion ideas for the opening. And
          they might even provide you with a corporate consultant to ensure opening day runs smoothly.</p>
        <footer class="blockquote-footer"> Managing Director <cite title="Source Title"> Manisha Dhingra</cite></footer>
      </blockquote>
    </div>
  </div>

    
    <button class="accordion">
     Q.3 Terms And Conditions To Opening A Franchise</button>
    
    <div class="card-body h-100">
      <blockquote class="blockquote mb-0">
        <p>Ans. Opportunities for entrepreneurship are varied and the sky’s the limit in terms of which business idea to
          pursue. But if you want to start a business that comes with an established brand and business model, a
          franchise might be a good fit.
          Franchises allow individuals to get their feet wet with the responsibilities that come along with owning a
          business. While it takes hard work, there are many success stories.</p>
        <p>In 2015 company 'SOMANSH BACKOPS TEAM OF PROFESSIONALS PRIVATE LIMITED' registered and started their Android
          Application 'SBT Professionals' After lockdown 2020</p>
        <footer class="blockquote-footer">Managing Director <cite title="Source Title">Manisha Dhingra</cite></footer>
      </blockquote>
    </div>
  </div>


</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
{% block js %}


{% endblock %}

{% endblock %}