{% extends 'website/layout.html' %} {% block title %}SBT Professionals{% endblock %} {% block css %}
<style>
    
 

#about {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #555
}
    .block {
        background-color: #ffffff;
        border: whitesmoke;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: larger;
        font-weight: 600px;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    }
    .change{
        margin-left: 12px;
    }
    
    .block:hover {
        background-color: #ddd;
        color: black;
    }
    
    @media only screen and (min-width: 993px) {
        .show-on-mobile {
            display: none !important;
        }
    }
 
    
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }
    
    .col-md-3 {
        width: 100%;
        height: auto;
    }
</style>
{% endblock css %} {% block body %} {% load static %}
<!-- end header area -->

<main>

    <!-- Slider Start -->
    <div class="relative">
        
    
        <div class="owl-navigation owl-carousel owl-theme">
            <!-- slider item 1 -->
            
            <div class="item">
                
                <div class="image-overly-dark-opacity header-content slider-clean1" role="banner">
                    <div class="container opac">
                        <div class="col-xs-12 col-sm-12 header-area">
                            <div class="header-area-inner header-text">
                                <div class="hanger">
                                    <svg height="100" width="100" style=" margin-top:-134px">
                                      <line x1="10" y1="100" x2="100" y2="0" style="stroke:rgb(238, 231, 227);stroke-width:2" />
                                      <circle cx="10" cy="100" r=5 fill="red" />
                                    </svg>
                                    <svg height="100" width="100" style=" margin-top:-134px">
                                      <line x1="0" y1="0" x2="90" y2="100" style="stroke:rgb(238, 231, 227);stroke-width:2" />
                                      <circle cx="90" cy="100" r=5 fill="red" />
                                    </svg>
                                  </div>
                                  <div class="button">
                                    <div
                                     class="button-inner">
                                      <a href="/website/frenchise"> Open A Franchise</a>
                                    </div>
                                  </div>
                                

                                  <!-- @media only screen and (max-width: 600px) { .hanger{
                                    
            <div class="item">
                
               
                                <div class="hanger">
                                    <svg height="100" width="100" style=" margin-top:-134px">
                                      <line x1="10" y1="100" x2="100" y2="0" style="stroke:rgb(238, 231, 227);stroke-width:2" />
                                      <circle cx="10" cy="100" r=5 fill="red" />
                                    </svg>
                                    <svg height="100" width="100" style=" margin-top:-134px">
                                      <line x1="0" y1="0" x2="90" y2="100" style="stroke:rgb(238, 231, 227);stroke-width:2" />
                                      <circle cx="90" cy="100" r=5 fill="red" />
                                    </svg>
                                  </div>
                                  <div class="button">
                                    <div
                                     class="button-inner">
                                      <a href="/website/frenchise"> Open A Franchise</a>
                                    </div>
                                  </div>


                                }
                                
                           -->
                            
                                <span class="welcome">Welcome to SBT Professionals</span>
                                <div><span class="subtitle">Grow Your Business</span></div>
                                <h1 class="title">
                                    We provide
                                    <span id="typed-strings">
                    <span>Vendors</span>
                                    <span>Customers</span>
                                    <span>Services</span>
                                    </span>
                                    <span id="typed" class="underline-large"></span>
                                </h1>
                                <div class="header">
                                    <form action="/website/search" method="GET">
                                        <!-- <h1>Find Everything Near You</h1> -->
                                        <div class="form-box input-icons">
                                            <i style="margin-left: 4px;" class="fas fa-street-view icon"></i>
                                            <input type="text" class="search-field location_search" placeholder="Your Location" name="location" onfocus="geolocate()" id="autocomplete" />
                                            <!-- <label> -->
                                            <i style="margin-left: 4px;" class="fas fa-globe icon"></i>
                                            <input type="text" class="search-field business_search" placeholder="Business,sevices..." name="query" id="query" />
                                              
                                            <!-- </label> -->
                                            <!-- <div class="svg"> -->

                                            <!-- </div> -->
                                            <!-- <div class="input-select">
                                                  <select data-trigger=
                                                  "" class="search-field location" name="choices-single-defaul">
                                                    <option class="search-field location" placeholder="Location"></option>
                                                    <option>Subject A</option>
                                                    <option>Subject B</option>
                                                    <option>Subject C</option>
                                                  </select> -->
                                            <!-- </div>        -->
                                            <!-- <i class="fa fa-check-circle icon" aria-hidden="true"></i>  -->
                                            <i class="fas fa-hand-point-left icon"></i>
                                            <button style="height:49px;padding-top: 1%;" type="submit">GET PROFESSIONALS</button>
                                            
                                        </div>
                                    </form>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item 1 -->
            <!-- slider item 2 -->
            <div class="item">
                <div class="image-overly-dark-opacity header-content slider-clean2" role="banner">
                    <div class="container opac">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 header-area">
                                <div class="header-area-inner header-text">
                                    <!-- single content header -->
                                    <span class="welcome">Welcome to SBT Professionals</span>
                                    <div><span class="subtitle">Creative Agency</span></div>
                                    <h1 class="title">
                                        We provide <span class="underline-large">Services</span>
                                    </h1>
                                    <div class="btn-section">
                                        <a href="" class="color-two btn-custom">Get Experts <i class="fas fa-arrow-right"></i></a>
                                        <div class="video-relative">
                                            <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="video-btn popup-video">
                                                <i class="fas fa-play"></i>
                                                <span class="ripple orangebg"></span>
                                                <span class="ripple orangebg"></span>
                                                <span class="ripple orangebg"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item 2 -->
        </div>
    </div>
    <!-- Slider End-->

    

    <div class="sponsor wrap-bg-small wrap-bg-white show-on-desktop-only">
        <div class="container">
            <div class="text-center">
                <h3>MORE THAN 174+ <b class="underline-small"> CATEGORIES</b></h3>
            </div>


            <div class="carousel-slider sponsor-slider">
                {% for cat in category|slice:"0:" %}
                <div class="item category-a">
                    <a href="/website/categories/{{ cat.category_name }}"><img class="img-class" src="/media/{{ cat.Image }}" alt="Logo" />
                        <strong> <a href="/website/categories/{{ cat.category_name }}"
                class="cursor-on-pointer">{{ cat.category_name }}</a></strong></a>

                </div>
                {% if forloop.counter|divisibleby:0 and forloop.counter > 0 and not forloop.last%}
                <div class="item category-a">
                </div>
                {% endif %} {% endfor %}



            </div>
        </div>
    </div>

    <!-- services carousel start -->
    <div class="container">
        <div class="row">
            <h2 id="trendingservice">Trending <b class="underline-small"> Services</b></h2>

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!--Slideshow starts here -->
                    <div class="container carousel-inner no-padding">
                        <div class="carousel-item active">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="/media/{{ services.0.Image }}" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">{{ services.0.service_name }}</h5>
                                        <p class="card-text">
                                            {{ services.0.service_desc|safe }}
                                        </p>
                                        <a href="/website/services/{{ services.0.service_name }}" class="color-two btn-custom">Get
                      Services</a>
                                    </div>
                                </div>
                            </div>

                            {% for i in services|slice:"1:" %}

                            <div class="col-xs-3 col-sm-4 col-md-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="/media/{{ i.Image }}" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">{{ i.service_name}}</h5>
                                        <p class="card-text">
                                            {{ i.service_desc|safe }}

                                        </p>
                                        <a href="/website/services/{{ i.service_name }}" class="color-two btn-custom">Get Services</a>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
                        </div>
                        <div class="carousel-item">
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- left and right controls for the slide -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- services carousel end -->

    <!-- services carousel end -->
    <!-- why-us area start -->
    <div id="why-us-white">
        <div class="why-us-container why-us-left-bg5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-xl-6 col-lg-6"></div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-xl-6 col-lg-6">
                        <div class="white-box-large">
                            <div class="section-title">
                                <div>
                                    <h3>
                                        We Can Help You To Promote Your Business
                                    </h3>
                                    <div class="bar"></div>
                                </div>
                            </div>
                            <p>
                                Are you starting a business on a shoestring or need ways to stretch your small business marketing budget? Marketing a business doesn't have to cost a lot. .we have low-cost, high-impact methods to advertise and promote your business
                            </p>
                            <ul class="themeioan_ul_icon">
                                <li>
                                    <i class="fas fa-check-circle"></i> High Impact methods for Promote Business
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i> Every method included in package
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i> We have best support community
                                </li>
                                <li>
                                    <i class="fas fa-check-circle"></i> Call us 24/7 we are Online
                                </li>
                            </ul>
                            <div class="mt-25 mb-50">
                                <a href="#trendingservice" class="color-two btn-custom">View Services <i
                    class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- why-us area end -->
    <!-- pricing area start -->
    <!-- pricing area start -->
    <div id="pricing2" class="wrap-bg wrap-bg-light">
        <!-- .container -->
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="section-title with-p">
                        <h2>Business Plan Made For You</h2>
                        <div class="bar"></div>
                        <p>Choose the Best One for Your Business.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .tbl-pricing -->
            <div class="tbl-pricing">
                <div class="row">

                    {% for plan in plans|slice:3 %}
                    <div class="col-xs-12 col-sm-12 col-md-4 tbl-prc-col">
                        <!-- 1 -->
                        <div class="tbl-prc-wrap">
                            <!-- single price plan -->
                            <div class="tbl-prc-heading">
                                <h4>{{ plan.plan_name }}</h4>
                                <div class="tbl-prc-price">
                                    <span class="price">₹{{ plan.plan_amount}}</span>
                                    <span class="month">/ percent</span>
                                </div>
                            </div>
                            <ul class="tbl-prc-list">
                                <li>{{ plan.description_1 }}</li>
                                <li>{{ plan.description_2 }}</li>
                                <li>{{ plan.description_3 }}</li>
                                <li>{{ plan.description_4 }}</li>
                            </ul>
                            <div class="tbl-prc-footer">
                                <a href="purchase/{{ plan.plan_name }}" class="color-two btn-custom">Purchase</a>
                            </div>
                        </div>
                        <!-- end single price plan -->
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                    <div id="pricing" class="wrap-bg wrap-bg-light">

                        <div class="container"></div>
                        <div class="tbl-pricing">
                            <div class="row">

                                {% endif %} {% endfor %}

                            </div>
                        </div>
                        <!-- .tbl-pricing end -->
                    </div>
                    <!-- .container end -->
                </div>
                <!-- pricing area end -->
                <!-- widget-call area start -->
                <div id="widget-call" class="call-to-action-area bg-cta image-overly-dark-opacity">
                    <div class="container opac">
                        <div class="row justify-content-xl-between justify-content-lg-center justify-content-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 cta-center">
                                <div class="call-to-action-content">
                                    <!-- single widget-call content-->
                                    <div class="post-heading-left">
                                        <h3 class="text-white">
                                            Trusted By More <br /> Than <span class="underline">10,000</span> Happy Company
                                        </h3>
                                    </div>
                                    <p class="text-white">
                                        Let’s Create Something new and awesome Togeather.
                                    </p>
                                    <div class="call-to-action-btn">
                                        <a href="/website/freelisting">Start Today<i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- widget-call area end -->

                <!-- services image area start -->
                <div id="services_image" class="wrap-bg wrap-bg-light">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-8">
                                <div class="section-title with-p">
                                    <h2>Push Your Business To a New Level</h2>
                                    <div class="bar"></div>
                                    <p>
                                        We can help you create positive and permanent changes in your life. Let’s Create Something new and awesome Togeather.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- .row -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 course-single mb25">
                                <!-- 1 -->
                                <div class="themeioan_services">
                                    <article>
                                        <!-- single services -->
                                        <div class="blog-content">

                                            <h5 class="title">
                                                <a href="services-detail.html">Test Your Brain</a>
                                            </h5>
                                            <p>
                                                Open a beautiful store & increase your conversion rates. Deploy a conversion rate optimization. Best Services.
                                            </p>
                                            <div class="mt-25">
                                                <a href="services-detail.html" class="button-light"><i class="fas fa-arrow-right"></i> Read
                          More</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end single services -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 course-single mb25">
                                <!-- 2 -->
                                <div class="themeioan_services">
                                    <article>
                                        <!-- single services -->
                                        <div class="blog-content">

                                            <h5 class="title">
                                                <a href="services-detail.html">Training Mentor</a>
                                            </h5>
                                            <p>
                                                Open a beautiful store & increase your conversion rates. Deploy a conversion rate optimization. Best Services.
                                            </p>
                                            <div class="mt-25">
                                                <a href="services-detail.html" class="button-light"><i class="fas fa-arrow-right"></i> Read
                          More</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end single services -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 course-single mb25">
                                <!-- 3 -->
                                <div class="themeioan_services">
                                    <article>
                                        <!-- single services -->
                                        <div class="blog-content">

                                            <h5 class="title">
                                                <a href="services-detail.html">Thinking Creative</a>
                                            </h5>
                                            <p>
                                                Open a beautiful store & increase your conversion rates. Deploy a conversion rate optimization. Best Services.
                                            </p>
                                            <div class="mt-25">
                                                <a href="services-detail.html" class="button-light"><i class="fas fa-arrow-right"></i> Read
                          More</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end single services -->
                                </div>
                            </div>
                        </div>

                        <div class="content-button btn-section">
                            <!-- button call to action -->
                            <a href="#trendingservice" class="color-two btn-custom">View Services <i
                  class="fas fa-arrow-right"></i></a>
                        </div>

                        <!-- .row end -->
                    </div>
                </div>
                <!-- services image area end -->

                <!-- why-us area start -->
                <div id="why-us" class="wrap-bg-second">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-6 col-lg-5 services-detail-why why-us-left-bg2"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-6 col-lg-7 wrap-padding text-left">
                            <div class="section-title">
                                <div>
                                    <h3>
                                        We are the first and trusted Business Consulting company in your city. The best service is our goal.
                                    </h3>
                                    <div class="bar"></div>
                                </div>
                                <p>
                                    We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition. <br
                                    /><br />
                                </p>
                                <div class="row">
                                    <!-- #counter -->
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="info">
                                            <!-- 1 -->
                                            <div class="themeioan_counter text-center">
                                                <!-- single counter item -->
                                                <i class="secondary-color fas fa-user fa-3x"></i>
                                                <h4>10000</h4>
                                                <p>Happy Clients</p>
                                            </div>
                                            <!-- end single counter item -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <!-- .row -->
                                        <div class="info">
                                            <!-- 2 -->
                                            <div class="themeioan_counter text-center">
                                                <!-- single counter item -->
                                                <i class="secondary-color fas fa-cubes fa-3x"></i>
                                                <h4>450</h4>
                                                <p>Recently sold</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="info">
                                            <!-- 3 -->
                                            <div class="themeioan_counter text-center">
                                                <!-- single counter item -->
                                                <i class="secondary-color  fa fa-check-circle fa-3x   "></i>
                                                <h4>324</h4>
                                                <p>Expert Team</p>
                                            </div>
                                            <!-- end single counter item -->
                                        </div>
                                    </div>
                                    <!-- .row end -->
                                    <!-- #counter area end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- why-us area end -->

                <!-- testimonials area start -->
                <!-- Video Start Container-->
                <div class="video-play">
                    <div class="cover">
                        <!-- End Video -->
                        <!-- Container for title and button -->
                        <div id="testimonials" class="video-play-content wrap-bg">
                            <div class="container clearfix">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-8 center-column">
                                        <div class="carousel-slider general-slider">

                                            {% for test in testimonials %}
                                            <div class="col-sm-3">
                                                <!-- 1 -->
                                                <div class="themeioan_testimonial">
                                                    <!-- single testimonial item -->
                                                    <div class="quote">
                                                        <i class="fas fa-quote-left"></i>
                                                    </div>
                                                    <div class="testimonail-content">
                                                        <div class="testimonial-text text-center">
                                                            <p><em>
                                  {{ test.quote }}
                              </p></em>
                                                        </div>
                                                    </div><br>
                                                    <h4><i class="fa fa-user"></i> {{ test.customer_name}}</h4>
                                                </div>
                                                <!-- end single testimonial item -->
                                            </div>
                                            {% if forloop.counter|divisibleby:0 and forloop.counter > 0 and not forloop.last%}
                                            <div class="col-sm-3">

                                                <div class="themeioan_testimonial"></div>

                                                {% endif %} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- testimonials area end -->
                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-441acf48-4ee0-4f3c-960c-e62f61e83918"></div>

</main>


{% endblock %} {% block js %}
<script src="{%static 'website/js/autocomplete.js' %}"></script>
<script>
var $leftMenu = $('#container');

var leftVal = parseInt($leftMenu.css('left'));

$('#toggleButton').click(function () {
    animateLeft = (parseInt($leftMenu.css('left')) == 0) ? leftVal : 0;
	$leftMenu.animate({
		left: animateLeft + 'px'
    });
});


    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmd00x9I5t_lJ-P-C2yAa5hnkIyKRhVow&callback=initMap" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

{% endblock %}