{% extends 'website/layout.html' %}
    {% block title %}Resume-SBT Professionals {% endblock %}

{% load static %}
{% block css %}
<style>
    .wrap-top{
        margin-top: 30px;

    }
    .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  color: white;
  background-color: #fe4c1c;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor:pointer;
    }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: -18px;
  border-radius: 15px;
  cursor:pointer;
  opacity: 0;
}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 2px;
	border-radius: 3px;
	max-width:50px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 25px;
	position: absolute;
	top: 18px;
	left: 13px;
	color: black;
}
.color-terms{
color:#fe4c1c
}
h3 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h3 span {
    background:#fff;
    padding:0 10px;
}


    </style>

{% endblock %}
{% block body %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="xVLFd7uI"></script>

<main>
    <!-- breadcrumb banner content area start -->
   
    <!-- end breadcrumb banner content area start -->

    <!-- contact area start -->
   
    <!-- contact area end -->

    <!-- contact area start -->
    <div id="contact" class="wrap-bg wrap-top">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="section-title with-p">
                        <h2>We’re Here To Help You</h2>
                        <div class="bar"></div>
                        <p>Fill the details below to get immediate call for Jobs.
                        </p>
                    </div>
                </div>
            </div>
             <!--    alert-->

  
<!--    alert-->
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="dreidbgleft">
                        <img src="{%static 'website/images/content/landing/contact.png' %}" alt="Buy this Course">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <form action="/website/upload_resume/" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input class="input-text required-field" type="text" name="contactName"
                                   placeholder="Mention your full name before uploading resume" minlength="4" maxlength="15" title="Your Full Name"/>
                         <div class="form-row">

                        <div class="upload-btn-wrapper col-md-5">
                            
                          <input type="file" name="myfile" accept=".doc,.docx,.pdf,.word"/>
                          <p>doc,docx,pdf(max-2mb),word</p>
                        </div>
              
                        </div>

                        <input class="color-two" type="submit" value="Submit"/>
                    </form>
                    <form action="/website/jobs/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <!-- Change Placeholder and Title -->
<!--                         <div class="form-row">-->
<!--                             -->
<!--                        </div>-->
                      <input type="hidden" name="job_form" id="job_form" value="form_for_jobs">
                        <div>
                            <h3><span>or</span></h3>
                            <h4>Create Resume:</h4>
                            <input class="input-text required-field" type="text" name="contactName" id="contactName"
                                   placeholder="Name" title="Your Full Name" required="Full Name" minlength="4" maxlength="15"/>
                        </div>
                        <div>
                            <input class="input-text required-field" type="tel" name="contactmobile" id="contactmobile"
                                   placeholder="Mobile no." title="Your number" maxlength="12"  minlength="10" required="Enter a Number" />

                        </div>
                        <div>
                            <input class="input-text required-field" type="text" name="contactEducation" id="contactEducation"
                                   placeholder="Education" title="Your Subject" maxlength="50" minlength="5" required="Enter your education" />
                        </div>
                        <div>
                            <input class="input-text required-field" type="text" name="contactexperience" id="contactExperience"
                                   placeholder="Any Work Experience...                                                                                (If any)" title="Your Subject" minlength="10" maxlength="50" />
                        </div>

<!--                        <div>-->
<!--                    <textarea class="input-text required-field" name="contactMessage" id="contactMessage"-->
<!--                              placeholder="Message" title="Your Message"></textarea>-->
<!--                        </div>-->
                        <div class="form-row mt-3">

                            <input type="checkbox" required="required" id="checkbox-1-1" class="col-md-1 regular-checkbox" />
                            <label class="col-md-11 mt-3">I agreed to the
                                <a href="/website/TermsCondition" class="color-terms">Terms and Conditions </a> governing the use of SBT Professionals.</label>
                        </div>

                            <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
                        <center>
<button style="width: 150px;height: 37px;"> SUBMIT <input class="color-two button" type="submit" value="Send Message"></button></center>
                             
                    </form>
                      <h3><span>or</span></h3>
                       <div id="my-signin2"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->

</main>
{% endblock %}
  {% block js %}


  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- JavaScript File -->
 {% endblock %}
