<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>

<head>
  {% load static %}
  <!-- Metas Basic -->
 {% include "website/scripts/manually_added/google_analytic.html" %}
 
 {% include "website/meta_tags/seo.html" %}
  <!-- Title -->
  <!-- Favicon -->
  <link rel="shortcut icon" href="{%static 'website/images/favicon.png' %}" type="image/x-icon" />

  {% include "website/scripts/css/main_css.html" %}

  {% include "website/scripts/manually_added/cdn_js.html" %}

  {% block script %}

  {% endblock script %}
  <style>
    @media only screen and (min-width: 993px) {
      .hide-on-desktop-only {
        display: none !important;
        margin-top: 10px;
      }
    }

    @media only screen and (max-width: 993px) {
      .show-on-desktop-only {
        display: none !important;
        margin-bottom: 0px;
      }
    }
  </style>

  {% block css %} {% endblock %}
</head>

<body onload="myFunction()">
  <div id="loading"></div>
  <!-- header area start -->
  {% include "website/includes/header.html" %}
  <div class="feedback">
    <a href="/sbt/feedback/">
      <img src="/static/website/images/thumb-up-1.svg"
        style="max-width: 287%;height: 48px;margin-top: -11px;transform: rotate(90deg);">
    </a>
  </div>
  

      <a class="whats-app" title="Whatsapp contact" href="https://api.whatsapp.com/send?phone=918295393035"
        target="_blank">
        <i class="fab fa-whatsapp my-float" aria-hidden="true"></i>
      </a>
      <a class="face-book" title="facebook contact" href="https://www.facebook.com/SBTProfessionals/" target="_blank">
        <i class="fab fa-facebook my-float" aria-hidden="true"></i>
      </a>
      <a class="twi-tter" title="twitter contact" href="https://www.twitter.com/SBTProfessiona2" target="_blank">
        <i class="fab fa-twitter my-float" aria-hidden="true"></i>
      </a>
      <a class="insta" title="instagram contact" href="https://www.instagram.com/sbtprofessionals/" target="_blank">
        <i class="fab fa-instagram my-float" aria-hidden="true"></i>
      </a>
      <a class="you-tube" href="//www.youtube.com/channel/UCflqm65LJjNPQvdUKYSRO9g" target="_blank">
        <i class="fab fa-youtube my-float" aria-hidden="true"></i>
      </a>
    </div>


  {% block body %} {% endblock %}

  <!-- #footer area start -->
  {% include "website/includes/footer.html" %}
  <!-- #footer area end -->
  

  {% include "website/scripts/js/main_js.html" %}
  <!-- manually added -->

  {% include "website/scripts/manually_added/manuall_js.html" %}

  {% block js %} {% endblock %}
</body>

</html>