<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <title>Password Reset-SBT Professionals</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{%static 'website/images/favicon.ico'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'vendor_login/bootstrap/css/bootstrap.min.css'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/css/font-awesome.min.css'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/vendor_login_form/animate/animate.css'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/vendor_login_form/css-hamburgers/hamburgers.min.css'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/vendor_login_form/select2/select2.min.css'%}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/css/login_utils.css'%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'website/css/login_main.css'%}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
	<link rel="stylesheet" href=
	"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
  </head>
  <style>
      .wrap-login {

    padding: 20px 6px 55px 10px;

}
  </style>

  <body>
    <div class="limiter">

      <div class="container-login100">

        <div class="wrap-login100 wrap-login">

         <h3 class="passwordreset">Password reset sent</h3>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="{%static 'website/vendor_login_form/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{%static 'website/vendor_login_form/bootstrap/js/popper.js'%}"></script>
    <script src="{%static 'website/vendor_login_form/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{%static 'website/vendor_login_form/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->
    <script src="{%static 'website/vendor_login_form/tilt/tilt.jquery.min.js'%}"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <!--===============================================================================================-->
    <script src="{%static 'website/js/login_main.js'%}"></script>
  </body>
</html>
