     <style> 
     .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-align: center;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
	.button {

  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
    font-family: "Times New Roman", Times, serif;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:275px
   
}
  .button1{ border-right-style: solid;
     border-color: gray;
     border-width: 1px;
      margin-left:230px;

  }
</style>

 .button1 {background-color: white;
 }
.button2 {background-color: white;} 
    <a href="twocate.html" button class="button button1"><span>click ist</span></button></a>
<a href="" button class="button button2"><span>click IInd </button></a>


	


	<br />
	<h3 align="center">

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		
	<br /><br /><br /><br/>
	<h1 align ="center">
		<font face="Lato" color="#017bf5" size="7">
			BEAUTIFUL AND SIMPLE secound WEB PAGE
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
			USING HTML ONLY (NO CSS USED)
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="#">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">
		<font face="Lato" color="#fff">SUBSCRIBE US</font>
	</a>
	</h3>