{% extends 'website/layout.html' %} {% block title %}Search-SBT Professionals{%endblock %}
 {% block css %}
<style>
    
    .search-container {
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

</style>
{% endblock %} {% block body %} {% load static %}
<div class="container">
<h2 style="text-transform: lowercase; margin-top: 140px;font-size: larger;text-align: left; margin-left:-10px;" >
 Results near you :
</h2>
{% if categories|length < 1 %}
<p style="margin-left: 50px;">
  Your search query: <b>{{ query }}</b> did not match any categories.<br />

  <b>Suggestions:</b><br />
  Try different keywords.<br />
</p>

{% endif %}
<div class="row  pl-2 pr-2 ">

{% for loc in vendor_location %}
  {% if loc.Address1 or loc.Address2  or loc.city  or loc.state == location %}
  <div class="list-group container-top ">
    <a href="#" class="list-group-item list-group-item-action active">
    Your search for: {{ location }} 
    </a>
  </div>

  <div class="row mb-5 mt-2">
    <!-- <div class="media"> -->
    <div class="col-md-3">
    <img src="/media/{{ loc.Image }}" class="img-fluid top-img" alt="...">
    </div>

    <div class="col-md-9">
    <div class="media-body">
      <h5 class="mt-0">{{ loc.Company_Name }}</h5>
      <p>{{ loc.Service_decsription|safe }}</p>
      <ul>
        <li><b>Address:</b> {{ loc.Address1 }} {{ loc.Address2 }} {{ loc.city }} {{ loc.state }}  </li>
        <li><b>Contact:</b> {{ loc.Mobile_No }} </li>
    </ul>
    </div>
     {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
            <div class="media"> </div>
            {% endif %}
            </div>
  </div>
  </div>
  {% else %}
  <p><em>No entries in{{ location }}</em></p>
  {% endif %}


{% endfor %}

</div>

{% endblock %}
