{% extends 'website/layout.html' %}
{% block title %}SubCategorires-SBT Professionals{% endblock %}

{% block css %}
<style>
  .container-top{
  margin-top:-150px;
  width:60%
  margin: auto;
  padding: 300px;
  }
 .list-group-item.active {
    z-index: 2;
      background-color: hsl(14, 100%, 53%);
      border-color: blanchedalmond;
      font-size: 20px;

  }
   .list-group-item.active:hover {
         background-color: white;
         color:black;

  }
  .list-group-item {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border-color: blanchedalmond;
  }
  .list-group-item:hover{
  color:black;
  }
  </style>
  {% endblock %}
  {% block body %}
  {% load static %}
  {% for subcat in sub_category %}
  <div class="container-top">
  <div class="list-group">

    <a href="/website/categories" class="list-group-item list-group-item-action active">
      {{ subcat.sub_category_name }}
    </a>
    {% if related_sub_sub_category %}
    {% for i in related_sub_sub_category|slice:"0:"  %}
        <a href="" class="list-group-item list-group-item-action">{{ i.sub_sub_category_name }} </a>
    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last%}
    
      <a href=""></a>              
    {% endif %}
    {% endfor %}

    {% else %}
    <p style="text-align: center;margin-top:20px ;"><em>No entries for {{  subcat.sub_category_name }}</em></p>
    {% endif %} 
</div>
</div>

{% endfor %}
{% endblock %}