{% extends 'website/layout.html' %}
{% block title %}NewSerivces-SBT Professionals{% endblock %}
{% block css %}
<style>
    
</style>
{% endblock css %}

{% block body %}
{% load static %}

<main>
    <!-- header content area start -->
    <div class="image-overly-dark-opacity services-detail-style-two position-center header-content" role="banner">
        <!-- .container -->
        <div class="container opac">
            <!-- .row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 header-area">
                    <div class="header-area-inner header-text"> <!-- single content header -->
                        <div class="text-center">
                                     
                       </div>
                        <br>
                        <div>
                            <h1 class="title">Coming Soon
                                <span id="typed-strings">
                            <span>new Features</span>
                            <span>best Quality</span>
                            <span>top Services</span>
                        </span>
                                <span id="typed" class="underline-large"></span>
                            </h1>
                        </div>
                        <br><br>

                    </div>
                </div>
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- end header content area start -->

</main>

{% endblock %}