{% extends 'website/layout.html' %}
{% block body %}
<section class="about-area about-page" style="margin-top: 12%;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-text-box">
                    <div class="inner-content">
                        <p>
                            <h3>Refund and Cancellation Policy</h3>

                            Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.<br>

                            Our Policy for the cancellation and refund will be as follows:
                            For Cancellations please contact us (Numbers available in Footer area).

                            Requests received later than 3 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.<br>

                            Refund Policy<br>

                            We will try our best to create the suitable design concepts for our clients.<br>

                            In case any client is not completely satisfied with our products we can provide a refund. <br>

                            If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.<br>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}