{% extends "dashboard/layout/base.html" %} {% block title %}
<title>New Branches - Dashboard SBTProfessionals</title>
{% endblock title %} {% block maincontent %}


<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
            
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
               
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>All Branches</h1>
                    </div>
                    
                    <div class="ml-auto d-flex align-items-center">
                     <div class="md-form mt-0 mr-2">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="query">
</div>
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Branch
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">View All Branches</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->

        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Branch user</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">MobileNo.</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Send Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for branch in object_list %}
                                <tr>
                                    <th scope="row">{{ branch.user }}</th>
                                    <td>{{ branch.branch_name }}</td>
                                    <td>{{ branch.Mobile_No }}</td>
                                    <td>{{ branch.EmailID }}</td>
                                    <td>{{ branch.city }}</td>
                                    <td><button class="btn btn-inverse-success">Edit</button></td>
                                    <td>Send Message</td>
                                </tr>
                                {% if forloop.counter|divisibleby:0 and forloop.counter > 0 and not forloop.last%}
                                <li>No branches yet.</li>
                                {% endif %}
                                {% endfor %}



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>
<!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
{% endblock maincontent %}