/* body{
    margin: 0;
    padding: 0;
} */

.header_search{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5)),url(https://source.unsplash.com/random);
    background-size: cover;
    
    /* background-color: rgba(0, 0, 0, 0.486); */
    background-position: center;
    /* margin-left: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.header_search h1{
    color: blanchedalmond;
    margin-bottom: 70px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

.search-field{

    height: 30px;
    padding: 10px;
    border-radius: 40px;
    /* border: none; */
    /* box-shadow: black; */
    border-color: orangered;
    border-style: solid;
    
    
    
     
}

.search-field:hover{
    
    border: none;

    
     
} 


.business_search{
    width: 400px;
    margin-bottom: 4px;
    text-indent: 12px;
    max-width: 200px;
}

.location_search{
    width: 200px;
    /* padding: 30px; */
    /* background-image: url("https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png"); */
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 10px 1rem;
    /* -moz-text-size-adjust: 2%; */
    text-align: left;
    margin-bottom: 4px;
    text-indent: 12px;
    border-color: orangered;
        /* margin-left: 2%; */
    
}


 .search-btn{

  margin-left:4px;
  max-height: 65px;
}

/* .ginput_container input {
    padding-left:30px;
    background-image: url("https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px 1rem;
  }
   */
 .form-box{
     background-color: rgba(0,0,0,0.5);
     padding: 30px;
     margin-right: 14px;
 }


 /* for svg in search bar */
 label {
    position: relative;
  }
  
  label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;

  }
  
  .svg-input {
    padding: 10px 30px;
  }
  
  .freelisting{
    background-color: black;
    color: white;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px;
    color: #808089; 
    font-size: 16px;
} 
  
.icon { 
    padding: 17px 1px 1px 7px; 
    min-width: 40px; 
} 
/* for whatsapp side bar start */
.icon-bar {
position: fixed;
top: 30%;
right: 0px;  
width: 200px;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.icon-bar a {
text-decoration: none;  
text-transform: uppercase;
display: block;
text-align: left;
padding: 10px;
transform: translate(130px,0px);
transition: all 0.5s;
color: white;
margin-top: 2px;

font-size: 20px;
border-radius: 50px 0px 0px 50px;
}

.icon-bar a i {
margin-right: 20px;
background-color: white;
height: 40px
width: 40px;
color:black;
text-align: center;
line-height: 40px;
transition: all 0.5s;
border-radius: 50%;
}
.icon-bar a:hover i{
transform: rotate(-360deg);
color: green;
}

.icon-bar a i.fa-whatsapp{
color: green;
}
.icon-bar a i.fa-facebook-f{
color: #3b5998;
}
.icon-bar a i.fa-youtube{
    color: #FF0000;
    }
.header-cta a i.fa-mobile-alt{
font-size: 20px;
margin-right: 2px;
text-align: center;
}

.icon-bar a:hover {
transform: translate(0px,0px);
background-color: black;
}

/* for whatsapp side bar end */

.img-class{
    max-width: 50%;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    margin-bottom: 2%;
    height: 40px;
}
.whatsapp{
background: #4ac959;
color: white;
}
.facebook{
    background: #3b5998;
    color: white;
    }

    .youtube{
        background:  #FF0000;
        color: white;
        }
        

.ico-btn {
/* color: grey; */
padding: 12px 16px 12px 40px;
background:url(https://img.icons8.com/nolan/50/medical-mobile-app.png) no-repeat 13px 9px;
background-size: 25px auto;
/* background-color:#eaeaea; */
}
.search-ico-btn {
/* color: grey; */
padding: 12px 16px 12px 40px;
background:url(https://img.icons8.com/nolan/50/medical-mobile-app.png) no-repeat 13px 9px;
background-size: 25px auto;
/* background-color:#eaeaea; */


}

.listing{
    width:155px;
    width: 157px;
    margin-right: 1px;
    animation: steps;
    background-color: #F5F5F5;;
    color: black;
    box-shadow: whitesmoke;
    border: none;

}
.listing:hover{
    background-color: #fe4c1c;
    color: white;
    transform:translateX(5px);
    transition: all 0.3s;
    
}


/* Full-width input fields */
.input-model{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 38%;
    z-index:-1;
    margin-top:130px;
    padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.cursor-on-pointer{
    cursor: pointer;
}

.category-a{
    margin-left: 14px;
}


.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 15px;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}
/* loading css/\ */
#loading {
    position: fixed;
    z-index: 1800;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/762.gif) no-repeat center;
    -webkit-animation: spin 300s linear infinite;
    /* Safari */
    animation: spin 500s linear infinite;
}


.feedback {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: fixed;
    top: 40%;
    border-radius: 8px;
    left: -25px;
    background: #ccc;
    padding: 10px;
    z-index: 100;
  }