{% extends "dashboard/layout/base.html" %} {% block title %}
<title>All Banners - Dashboard SBTProfessionals</title>
{% endblock title %} {% block maincontent %}


<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Category detail</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Category
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Category Detail</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->

        <div class="col-12 col-md-6 col-lg-12">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Catgory Name</th>
                                    <th scope="col">Desc.</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Image</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td> <strong>{{ object.category_name }}</strong></td>
                                    <td> <strong>{{ object.category_description }}</strong></td>
                                    <td> <strong>{{ object.category_is_active }}</strong></td>
                                    <td><img src=" /media/{{ object.Image }}" height="100" width="100" alt="No Image" srcset=""></td>
                                </tr>
                                <tr> </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
</div>
<!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
{% endblock maincontent %}