 
 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description"
    content="Are you starting a business on a shoestring or need ways to stretch your small business marketing budget? Marketing a business doesn't have to cost a lot. .we have low-cost, high-impact methods to advertise and promote your business" />
  <meta name="keywords" content="Customer Services,business promotion,digital marketing,jobs,career,naukri, Discount" />
  <meta name="author" content="Somansh Backops Team Of Professionals" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />