
       
{% extends "dashboard/layout/base.html" %} {% block title %}
<title>All Resumes - Dashboard SBTProfessionals</title>
{% endblock title %} {% block maincontent %}

                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Alerts</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    UI Kit
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">Alerts</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Default Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-primary" role="alert">
                                                    A simple primary alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-secondary" role="alert">
                                                    A simple secondary alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-info" role="alert">
                                                    A simple info alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-warning" role="alert">
                                                    A simple warning alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-danger" role="alert">
                                                    A simple danger alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-success" role="alert">
                                                    A simple success alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-light" role="alert">
                                                    A simple light alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-dark" role="alert">
                                                    A simple dark alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Default Icon Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-primary alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple primary alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-secondary alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple secondary alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-info alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple info alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-warning alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple warning alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-danger alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple danger alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-success alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple success alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-light alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple light alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-dark alert-icon" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple dark alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Outline Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-primary" role="alert">
                                                    A simple primary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-secondary" role="alert">
                                                    A simple secondary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-info" role="alert">
                                                    A simple info outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-warning" role="alert">
                                                    A simple warning outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-danger" role="alert">
                                                    A simple danger outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-success" role="alert">
                                                    A simple success outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-light" role="alert">
                                                    A simple light outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-outline-dark" role="alert">
                                                    A simple dark outline alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Outline Icon Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-primary" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple primary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-secondary" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple secondary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-info" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple info outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-warning" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple warning outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-danger" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple danger outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-success" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple success outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-light" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple light outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-outline-dark" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple dark outline alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Inverse Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-primary" role="alert">
                                                    A simple primary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-secondary" role="alert">
                                                    A simple secondary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-info" role="alert">
                                                    A simple info outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-warning" role="alert">
                                                    A simple warning outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-danger" role="alert">
                                                    A simple danger outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-success" role="alert">
                                                    A simple success outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-light" role="alert">
                                                    A simple light outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-inverse-dark" role="alert">
                                                    A simple dark outline alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Inverse Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-primary" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple primary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-secondary" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple secondary outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-info" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple info outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-warning" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple warning outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-danger" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple danger outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-success" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple success outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-light" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple light outline alert—check it out!
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-icon alert-inverse-dark" role="alert">
                                                    <i class="fa fa-info-circle"></i> A simple dark outline alert—check it out!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Dismissing Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-light alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                                    fields below.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <i class="ti ti-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Custom Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-primary" role="alert">
                                                    <h3 class="text-white">Well done!</h3>
                                                    <p class="text-white">Aww yeah, you successfully read this important alert message.
                                                        This example text is going to run a bit longer so that you
                                                        can see how spacing within an alert works with this kind
                                                        of content.</p>
                                                    <button class="btn btn-success">Accept</button>
                                                    <button class="btn btn-danger">Decline</button>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="alert alert-dark" role="alert">
                                                    <h3 class="text-white">Well done!</h3>
                                                    <p class="text-white">Aww yeah, you successfully read this important alert message.
                                                        This example text is going to run a bit longer so that you
                                                        can see how spacing within an alert works with this kind
                                                        of content.</p>
                                                    <button class="btn btn-warning">Warning</button>
                                                    <button class="btn btn-danger">Danger</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Gradient Alerts</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="alert border-0 alert-primary bg-gradient alert-dismissible fade show border-radius-none" role="alert">
                                            <strong>Holy guacamole!</strong> You should check in on some of those
                                            fields below.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="ti ti-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
{% endblock maincontent %}