
{% extends "dashboard/layout/base.html" %}
{% block title %}
<title>New Branches - Dashboard SBTProfessionals</title>
{% endblock title %}
{% block maincontent %}
            
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Default Buttons</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    UI Kit
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Buttons
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">Default Buttons</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Rounded Button</h4>
                                        </div>
                                    </div>

                                    <div class="card-body button-list">
                                        <div class="pb-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-dark">Dark</a>
                                        </div>
                                        <div class="py-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-outline-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-dark">Dark</a>
                                        </div>
                                        <div class="pt-2">
                                            <a href="javascript:void(0);" class="btn btn-inverse-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-dark">Dark</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Square Button</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="pb-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-square btn-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-dark">Dark</a>
                                        </div>
                                        <div class="py-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-outline-dark">Dark</a>
                                        </div>
                                        <div class="pt-2">
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-square btn-inverse-dark">Dark</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Round Button</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="pb-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-round btn-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-dark">Dark</a>
                                        </div>
                                        <div class="py-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-outline-dark">Dark</a>
                                        </div>
                                        <div class="pt-2">
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-warning">Warning</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-danger">Danger</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-success">Success</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-light">Light</a>
                                            <a href="javascript:void(0);" class="btn btn-round btn-inverse-dark">Dark</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Button size</h4>
                                        </div>
                                    </div>
                                    <div class="card-body button-list">
                                        <div class="pb-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-xs btn-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-xl btn-warning">Warning</a>
                                        </div>
                                        <div class="py-2 border-bottom">
                                            <a href="javascript:void(0);" class="btn btn-xs btn-outline-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-outline-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-outline-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-xl btn-outline-warning">Warning</a>
                                        </div>
                                        <div class="pt-2">
                                            <a href="javascript:void(0);" class="btn btn-xs btn-inverse-primary">Primary</a>
                                            <a href="javascript:void(0);" class="btn btn-sm btn-inverse-secondary">Secondary</a>
                                            <a href="javascript:void(0);" class="btn btn-inverse-info">Info</a>
                                            <a href="javascript:void(0);" class="btn btn-xl btn-inverse-warning">Warning</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <!-- end app-main -->
            </div>
            <!-- end app-container -->
{% endblock maincontent %}