{% extends 'website/layout.html' %}
{% block title%} Checkout - SBT Professionals{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock script %}
{% block css %}

<style>
    .margin-h3{

    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    margin: 141px 4px -26px;
    }
    
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h3 class="margin-h3">STEP 1-SBT Professionals Checkout - Review Your Cart Items</h3>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
            <nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <ul>Plan name : <span><strong>{{ plan_review.name }}</strong></span><br>
    Services Include :<br>
         <strong>
   <span>1. {{ plan_review.description_1 }}</span><br>
   <span>2. {{ plan_review.description_2 }}</span><br>
   <span>3. {{ plan_review.description_3 }}</span><br>
   <span>4. {{ plan_review.description_4 }}</span></strong>
</ul>
  </ol>
</nav>  <!---->
    <h4>Enter Your Purchasing percentage below: </h4>
	<form id="form"> 
		<input type="hidden" id="discount_id" name="id" value="{{ plan_review.id }}"> 
        <input type="hidden" id="real_val" name="amount" value="{{ plan_review.amount}}">
		<input id="discount_val" type="text" name = "discount_usr" >
		<button>submit</button>
	</form>
     {% comment %} <h4 id= "output"></h4> {% endcomment %}
	{% for i in service %}
		<h1>{{ i.name }}</h1>
		<p>{{ i.description }}</p>
	{% endfor %}

            <nav aria-label="breadcrumb p-0">
                 <ol class="breadcrumb mt-3">
                 <p> Your Total is Rs.</p>
    <p id= "output" class="ml-1"></p><br>

  </ol>
</nav>
{% endblock %}

