<aside class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="nav-static-title">Personal</li>
                            <li class="active">
                                <a href="{% url 'dashboard:AdminHome' %}" aria-expanded="false">
                                    <span class="nav-title">Dashboards</span>
                               </a>
                            </li>
                            {% if user.is_superuser %}
                            
                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-calendar"></i><span class="nav-title">Branch</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href="{% url 'dashboard:NewBranch' %}">New Branch </a> </li>
                                    <li> <a href="{% url 'dashboard:AllBranches' %}">View All Branches</a> </li>
                                </ul>
                            </li>
                            {% else %}
                            {% endif %}
                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-info"></i><span class="nav-title">Categories</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href="{% url 'dashboard:NewCategory' %}">New Category</a> </li>
                                    <li> <a href="{% url 'dashboard:AllCategory' %}">View All Categories</a> </li>
                                </ul>
                            </li>
                            <li class="nav-static-title">User Roles</li>
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"> <i class="nav-icon ti ti-user"></i> <span class="nav-title">Customer</span> <span class="nav-label label label-success">New</span> </a>
                                <ul aria-expanded="false">

                                    <li> <a href="{% url 'dashboard:AllCustomer' %}">View All Customers</a> </li>

                                </ul>
                            </li>
                         
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-user"></i> <span class="nav-title">Employees</span></a>
                                <ul aria-expanded="false">
                        
                                    <li><a href="{% url 'dashboard:AllEmployees' %}">View All Employee</a></li>
                                  

                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-user"></i> <span class="nav-title">Vendors</span></a>
                                <ul aria-expanded="false">
                                    {% comment %} <li><a href="{% url 'dashboard:NewVendor' %}">New Vendor</a></li> {% endcomment %}
                                    <li><a href="{% url 'dashboard:AllVendors' %}">View All Vendors</a></li>
                                   

                                </ul>
                            </li>
                            {% if user.is_superuser %}
                             <li class="nav-static-title">Extra Work</li>
                            <li><a href="mail-inbox.html" aria-expanded="false"><i class="nav-icon ti ti-email"></i><span class="nav-title">Mail</span></a> </li>
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-map-alt"></i><span class="nav-title">Resumes</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href="{% url 'dashboard:AllResumes' %}">View All Resumes</a> </li>
                                </ul>
                            </li>
                            <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-layers"></i><span class="nav-title">Banner1</span><span class="nav-label label label-primary">12</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href="{% url 'dashboard:NewBanner' %}">New Banners</a> </li>
                                    <li> <a href="{% url 'dashboard:AllBanners' %}">View All Banners</a> </li>
                                </ul>
                            </li>
                             <li>
                                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="nav-icon ti ti-layers"></i><span class="nav-title">Banner2</span><span class="nav-label label label-primary">12</span></a>
                                <ul aria-expanded="false">
                                    <li> <a href="{% url 'dashboard:NewBanner2' %}">New Banners</a> </li>
                                    <li> <a href="{% url 'dashboard:AllBanners2' %}">View All Banners</a> </li>
                                </ul>
                            </li>
                            
                            {% else %}
                            {% endif %}
                           
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>